<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body id="registerBody">
<th:block th:include="~{fragments/header}"/>
<div id="loginPage" class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label>
        <div class="login-form">

            <form th:action="@{/users/login}" method="post">
                <div class="sign-up-htm">
                    <div class="group">
                        <label for="email" class="label">Email Address</label>
                        <input id="email" type="text" class="input" name="email">
                    </div>
                    <div class="group">
                        <label for="password" class="label">Password</label>
                        <input id="password" type="password" class="input" data-type="password" name="password">
                    </div>

                    <div class="group">
                        <input type="submit" class="button" value="Log In">
                    </div>
                    <div class="group">
                        <p>If you don't have an account <a href="/users/register"><strong>Sign Up</strong></a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<th:block th:include="~{fragments/footer}"/>
<th:block th:include="~{fragments/script}"/>
</body>
</html>