<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body id="registerBody">
<th:block th:include="~{fragments/header}"/>
<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign Up</label>
        <div class="login-form">
            <form id="signupForm" th:action="@{/register}" method="post">
                <div class="sign-up-htm">
                    <div class="group">
                        <label for="username" class="label">Username</label>
                        <input id="username" type="text" class="input" name="username" required minlength="2">
                    </div>

                    <div class="group">
                        <label for="password" class="label">Password</label>
                        <input id="password" type="password" class="input" data-type="password" name="password" required
                               pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$"
                               title="Must be inimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character:">
                    </div>
                    <div class="group">
                        <label for="confirmPassword" class="label">Confirm Password</label>
                        <input id="confirmPassword" type="password" class="input" data-type="password" name="confirmPassword" required
                               pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$"
                               title="Must be inimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character:">
                    </div>
                    <div class="group">
                        <label for="email" class="label">Email Address</label>
                        <input id="email" type="email" class="input" name="email" required>
                    </div>
                    <div class=" group">
                        <label id="labelMaleGender" class="label gender" for="maleGender">Male</label><input
                            id="maleGender" type="radio" name="gender" class="" value="Male">
                        <label id="labelFemaleGender" class="label gender" for="femaleGender">Female</label><input
                            id="femaleGender" type="radio" name="gender" class="" value="Female">
                    </div>
<!--                    <div class="group">-->
<!--                        <label for="image" class="label">Image</label>-->
<!--                        <input id="image" type="file" class="input" name="image" required/>-->
<!--                    </div>-->
                    <div class="group">
                        <input type="submit" class="button" value="Sign Up">
                    </div>
                    <div class="group">
                        <p>If you already have an account <a href="/login"><strong>Login</strong></a></p>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<th:block th:include="~{fragments/footer}"/>
<th:block th:include="~{fragments/script}"/>
</body>
</html>