<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body id="indexBody">
<th:block th:include="~{fragments/user-header}"/>
<main>
    <div id="all-jobs-container" class="container">
        <div class="row mb-4 d-flex justify-content-around">
            <th:block th:each="dentist : ${dentists}">
                <div class="col-md-4 d-flex flex-column text-center">
                    <div class="card">
                        <img class="card-img-top" th:src="${dentist.imageUrl}" alt="Image"/>
                        <div class="card-body">
                            <h2 class="card-title" th:text="${dentist.name}"></h2>
                            <h4 class="card-text" th:text="${dentist.age}"></h4>
                            <p class="card-text" th:text="${dentist.gender}"></p>
                            <p class="card-text" th:text="${dentist.specialist}"></p>
<!--                                                <form th:action="@{'/products/details/' + ${product.id}}" th:method="get">-->
<!--                                                    <button type="submit" class="btn btn-success" value="seeMore">See More</button>-->
<!--                                                </form>-->
<!--                                                <form th:action="@{'/products/delete/' + ${product.id}}" th:method="post">-->
<!--                                                    <button type="submit" class="btn btn-danger" value="delete">Delete</button>-->
<!--                                                </form>-->
                        </div>
                    </div>

                </div>
            </th:block>
        </div>
    </div>
</main>
<th:block th:include="~{fragments/footer}"/>
<th:block th:include="~{fragments/script}"/>
</body>

</html>