<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body id="indexBody">
<th:block th:include="~{fragments/user-header}"/>
<main>
    <div id="all-jobs-container" class="container">
        <div class="row mb-4 d-flex justify-content-around">
            <th:block th:each="treatment : ${treatments}">
                <div id="job" class="col-md-3 d-flex flex-column text-center">
                    <h2 th:text="${treatment.type}"></h2>
                    <h4 th:text="${treatment.price}"></h4>
                    <form th:action="@{'/treatment/details/' + ${treatment.model}}" th:method="get">
                        <button type="submit" class="btn btn-success" value="seeMore">See More</button>
                    </form>
                    <form th:action="@{'/treatment/delete/' + ${treatment.model}}" th:method="post">
                        <button type="submit" class="btn btn-danger" value="delete">Delete</button>
                    </form>

                </div>
            </th:block>
        </div>
    </div>
</main>
<th:block th:include="~{fragments/footer}"/>
<th:block th:include="~{fragments/script}"/>
</body>

</html>