<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body id="indexBody">
<th:block th:include="~{fragments/user-header}"/>
<main>
    <div id="all-jobs-container" class="container">
        <div class="row mb-4 d-flex justify-content-around">
            <th:block th:each="treatment : ${treatments}">
                <div class="col-md-4 d-flex flex-column text-center">
                    <div id="job" class="card">
                        <div class="card-body">
                            <h2 class="card-title" th:text="${treatment.type}"></h2>
                            <h4 class="card-text" th:text="${treatment.price}"> lv</h4>
                            <p class="card-text" th:text="${treatment.description}"> lv</p>
                            <form class="card-footer" th:action="@{'/treatments/details/' + ${treatment.id}}" th:method="get">
                                <button type="submit" class="btn btn-md btn-success" value="seeMore">More Info</button>
                            </form>
                            <form class="card-footer" th:action="@{'/treatments/delete/' + ${treatment.id}}" th:method="post">
                                <button type="submit" class="btn btn-md btn-danger" value="delete">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</main>
<th:block th:include="~{fragments/footer}"/>
<th:block th:include="~{fragments/script}"/>
</body>

</html>