<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body id="indexBody">
<th:block th:include="~{fragments/user-header}"/>
<main>
    <div id="all-jobs-container" class="container">
        <div class="row mb-4 d-flex justify-content-around">
            <div id="job-detail" class="text-center bg-blur">
                <h1>Treatment</h1>
                <div class="row">
                    <div class="col-12">
                        <h3 class="align-middle" th:text="${treatment.price}"></h3>
                        <h3 class="align-middle" th:text="${treatment.type}"></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:include="~{fragments/footer}"/>
<th:block th:include="~{fragments/script}"/>
</body>

</html>