<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header>
    <div class="container">
        <nav id="mainNav" class="navbar navbar-expand-lg
         navbar-light m-0 py-0 fixed-top">
            <a class="navbar-brand" href="/">
                <img id="logo" src="../img/output-onlinepngtools.png" alt=""/>
                MEDIDENT</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/our-team">Our Team</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdown"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Treatments
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown">
                                <a class="dropdown-item" href="/treatments/all">All Treatments</a>
                                <a sec:authorize="hasAuthority('ADMIN')" class="dropdown-item"
                                   href="/treatments/create">Create</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdown"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Products
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown">
                                <a class="dropdown-item" href="/products/all">All Products</a>
                                <a class="dropdown-item" href="/products/my">My Products</a>
                                <a sec:authorize="hasAuthority('ADMIN')" class="dropdown-item"
                                   href="/products/create">Create</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdown"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Careers
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown">
                                <a class="dropdown-item" href="/careers/all">All Careers</a>
                                <a sec:authorize="hasAuthority('ADMIN')" class="dropdown-item"
                                   href="/careers/create">Create</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacts">Contact Us</a>
                    </li>

                </ul>

                <div id="profile" class="buttons px-2 m-2">
                    <a href="/profile" title="profile" class="btn btn-outline-info m-2 my-sm-0">Profile</a>
                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn btn-outline-info m-2 my-sm-0" type="submit">Logout</button>
                    </form>
                </div>

            </div>
        </nav>
    </div>
</header>