#indexBody {
    background-image: url(../img/michael-browning-D0ov97Td-xM-unsplash.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
    font-weight: 100;
}

@media (min-width: 1050px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

}

#navbarSupportedContent {
    padding-left: 50px;
}

#mainNav {
    font-size: 1.3rem;
}

#mainNav .nav-link:hover {
    color: #5bc0de;
}

#mainNav .navbar-brand {
    color: #5bc0de;
}

.dropdown-menu {
    background-color: #5bc0de!important;
}

#indexContainer {
    margin-top: 250px;
}

#mainElements h1 {
    font-size: 5rem;
}

#mainElements span {
    font-size: 1.5rem;
}

#logo {
    width: 60px;
    height: 60px;
}

.navbar.scrolled {
    background-color: white;
    transition: background 100ms;
}

@media (max-width: 1050px) {
    #mainElements h1 {
        font-size: 3rem;
    }

    #mainElements span {
        font-size: 1.5rem;
    }
}

/* Register and Login Forms*/

#registerBody {
    margin: 0;
    color: #6a6f8c;
    background: url(../img/yingpis-kalayom-By1szZOVpHg-unsplash.jpg);
    background-size: cover;
    font: 600 16px/18px 'Open Sans', sans-serif;
}

*, :after, :before {
    box-sizing: border-box
}

.clearfix:after, .clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

a {
    color: inherit;
    text-decoration: none
}

.login-wrap {
    width: 100%;
    max-width: 525px;
    min-height: 900px;
    position: relative;
    /*background:url(../img/peter-kasprzyk-U1gvhqVQ2kQ-unsplash.jpg) no-repeat center;*/
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
    margin: 70px auto;
}

#loginPage {
    min-height: 400px;
    margin-top: 150px;
}

.login-html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 50px;
    background: rgba(40, 57, 101, .8);
}

.login-html .sign-in-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear;
}

.login-html .sign-in,
.login-form .group .check {
    display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
    text-transform: uppercase;
}

.login-html .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.login-html .sign-in:checked + .tab {
    color: #fff;
    border-color: #1161ee;
}

.login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.login-form .group {
    margin-bottom: 15px;
    margin-top: 16px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
    width: 100%;
    color: #fff;
    display: block;
}

.login-form .group .input,
.login-form .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1);
}

#labelMaleGender, #labelFemaleGender, #dentistLabelM, #dentistLabelF {
    display: inline;
    padding-right: 20px;
}

#maleGender, #maleGenderDentist {
    width: 33%;
    border-radius: 25px;
}

#femaleGender, #femaleGenderDentist {
    width: 33%;
    border-radius: 25px;
}

.login-form .group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle;
}

.login-form .group .label {
    color: #aaa;
    font-size: 12px;
}

.login-form .group p {
    color: #aaa;
    text-align: center;
    padding-top: 10px;
}

.login-form .group .button {
    background: #1161ee;
}

.login-form .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0s;
}

.login-form .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0);
}

.login-form .group .check:checked + label {
    color: #fff;
}

.login-form .group .check:checked + label .icon {
    background: #1161ee;
}

.login-form .group .check:checked + label .icon:before {
    transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked + label .icon:after {
    transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
    transform: rotate(0);
}

.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
    transform: rotate(0);
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, .2);
}

.foot-lnk {
    text-align: center;
}

/* Google maps Contact Us*/

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* Jobs */

#all-jobs-container{
    margin-top: 70px;
}

#job{
    background: rgba(255, 255, 255, 0.6);
}

#job form {
    margin-bottom: 7px;
    display: grid;
}

#job-detail{
    border: 2px solid gray;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
}

/*Error page css*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#notfoundBody {
    padding: 0;
    margin: 0;
}

#notfound {
    position: relative;
    height: 100vh;
    background-color: #fafbfd;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 520px;
    width: 100%;
    text-align: center;
}

.notfound .notfound-bg {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
}

.notfound .notfound-bg > div {
    width: 100%;
    background: #fff;
    border-radius: 90px;
    height: 125px;
}

.notfound .notfound-bg > div:nth-child(1) {
    -webkit-box-shadow: 5px 5px 0px 0px #f3f3f3;
    box-shadow: 5px 5px 0px 0px #f3f3f3;
}

.notfound .notfound-bg > div:nth-child(2) {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-box-shadow: 5px 5px 0px 0px #f3f3f3;
    box-shadow: 5px 5px 0px 0px #f3f3f3;
    position: relative;
    z-index: 10;
}

.notfound .notfound-bg > div:nth-child(3) {
    -webkit-box-shadow: 5px 5px 0px 0px #f3f3f3;
    box-shadow: 5px 5px 0px 0px #f3f3f3;
    position: relative;
    z-index: 90;
}

.notfound h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 86px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 8px;
    color: #151515;
}

.notfound h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 26px;
    margin: 0;
    font-weight: 700;
    color: #151515;
}

.notfound a {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #18e06f;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    margin-top: 20px;
}

.notfound-social {
    margin-top: 20px;
}

.notfound-social>a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 40px;
    font-size: 14px;
    color: #fff;
    background-color: #dedede;
    margin: 3px;
    padding: 0px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
.notfound-social>a:hover {
    background-color: #18e06f;
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-bg {
        width: 287px;
        margin: auto;
    }

    .notfound .notfound-bg > div {
        height: 85px;
    }
}

@media only screen and (max-width: 480px) {
    .notfound h1 {
        font-size: 68px;
    }

    .notfound h2 {
        font-size: 18px;
    }
}

/*Product Details*/

#productsDiv{
    margin-top: 3rem;
}

#product-detail{
    width: 60%;
}

#product-detail img{
    width: 100%;
    padding-bottom: 10px;
}

/*Profile*/

#profile{
    display: inline-flex;
}

/* footer */

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.container .text-muted{
    margin: 10px 0;
}
