<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragments/head}"/>
<body id="indexBody">
<th:block th:include="~{fragments/user-header}"/>
<main>
    <div id="indexContainer" class="container px-0">
        <div class="row align-items-center">
            <div id="mainElements" class="col-md-12 my-5 text-info text-center d-lg-block">
                <h1 class="">Medident Dental Clinic</h1>
                <span class="text-info">Championing Expertise in Dentistry</span>
                <div class="buttons pt-2 mx-4">
                    <a href="/login"
                       title="BookAnAppointment" class="btn btn-info btn-right btn-lg m-3">Book An Appointment</a>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:include="~{fragments/footer}"/>
<th:block th:include="~{fragments/script}"/>
</body>

</html>